    body {
        margin: 0mm;
        padding: 0mm;
        background: #fff;
    }
    
    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: red;
        color: white;
        text-align: center;
    }
    
    .logo {
        color: red;
        font-size: 23px;
    }