    body {
        margin: 0mm;
        padding: 0mm;
        background: #fff;
    }
    
    footer {
        left: 0;
        position: relative;
        bottom: 0;
        width: 100%;
        background-color: red;
        color: white;
        text-align: center;
    }
    
    .logo {
        color: red;
        font-size: 23px;
    }
    
    .btn_carousel {
        background-color: black;
        color: white;
        font-weight: bold;
        height: 67px;
        width: 270px;
        border-radius: 6px;
        border: 2px solid white;
    }
    
    .btn_carousel:hover {
        background-color: tomato;
    }
    
    .carousel-caption .btn_carousel {
        margin-bottom: 60px;
        margin-left: 110vh;
        font-size: 25px;
        text-align: center;
    }
    
    .carousel-item {
        height: 60vh;
        min-height: 300px;
        background: no-repeat scroll center scroll;
        -webkit-background-size: cover;
        background-size: cover;
    }
    
    .carousel-item::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    
    .row .col-2 {
        margin-top: 20px;
        margin-bottom: 10px;
    }